/*!
Theme Name: inno³
Theme URI: https://underscores.me/
Author: I Have a Green
Author URI: ihaveagreen.fr
Description: thème wordpress sur-mesure pour inno³ SAS réalisé en 2022
Version: 1.1.1
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: ihag
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

_s is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

// Import variables and mixins.
@import "sass/abstracts/abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
@import "sass/generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "sass/generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "sass/base/base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
// @import "sass/layouts/content-sidebar"; // Uncomment this line for a sidebar on right side of your content.
// @import "sass/layouts/sidebar-content"; // Uncomment this line for a sidebar on left side of your content.
@import "sass/layouts/wrapper";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "sass/components/components";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */
//@import "sass/plugins/jetpack/infinite-scroll";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@import "sass/utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "sass/utilities/alignments";
