h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
}

.home h1 {
	font-style: italic;

	em {
		margin-left: 3rem;
	}

	strong {
		color: $color__orange;
	}
}

.single h1 {
	font-size: 3.125rem;
}

h1 {
	font-size: 3.875rem;
	line-height: 1.25;
}

h2 {
	font-size: 3.125rem;
	line-height: 1.25;
	background-image: linear-gradient(transparent calc(65% - 5px), rgba(0, 152, 201, 0.1) 5px,);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline;

	&.has-color-white-color {
		background-image: linear-gradient(transparent calc(65% - 5px), rgba(255, 255, 255, 0.1) 5px,);
	}
}

@media screen and (max-width: $breakpoint_mobile) {

	h2 {
		padding-bottom: 0.5rem;

		&::after {
			height: 64px !important;
			overflow: hidden;
		}
	}
}

h3 {
	font-size: 1.5rem;
}

.hero-home {

	> .wp-block-cover__inner-container {
		width: 100% !important;
	}
}


@media screen and (max-width: $breakpoint_mobile) {

	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.75rem;
	}
}
