body,
button,
input,
select,
optgroup,
textarea {
	line-height: $font__line-height-body;
}

.is-icon{
	font-family: Icons;
}
.menu-langue.is-icon {
	ul li a span{
		font-family: Ubuntu;
		&::before {
			content: "♦ " !important;
		}
	}
}

html[lang="fr-FR"]{
	.menu-langue.is-icon {
		ul li:nth-child(2) a span{
			&::before {
				color:transparent;
			}
		}
	}
}

html[lang="en-US"]{
	.menu-langue.is-icon {
		ul li:first-of-type a span{
			font-family: Ubuntu;
			&::before {
				color:transparent;
			}
		}
	}
}



@import "headings";
@import "copy";
