// Header priority
nav {

	@media screen and (min-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: none;
		}
	}

	@media screen and (max-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: flex;
		}
	}

	@media screen and (min-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: block;
			width: 100%;
			position: relative;
			z-index: auto;
			background-color: inherit;
		}
	}

	@media screen and (max-width: $menu_breakpoint) {

		.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
			display: none;
			position: fixed;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 900px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


nav .wp-block-navigation__responsive-container-open {
	font-family: Icons;
	font-size: 1.5rem;
	color: $color__orange;
}

nav.wp-block-navigation {

	li > ul > li {
		margin: 0.2rem 0;
	}

	.wp-block-navigation__responsive-container {

		.wp-block-navigation__container {
			gap: 3rem;

			.current-menu-item > a {
				text-decoration: underline;
				text-decoration-color: $color__orange !important;
				text-underline-offset: 4px;
			}

			> .wp-block-navigation-item {
				padding: 0.25rem 0;

				> a {
					font-size: 1.25rem;
					font-weight: 400;
				}

				> ul.wp-block-navigation__submenu-container {
					background-color: $color__turquoise;
					border: none;
					color: $color__white;
					top: 100%;
					min-width: max-content !important;

					.wp-block-navigation-item {

						a {

							span {
								font-size: 0.875rem;
								font-weight: 400;

								&::before {
									content: "> ";
									position: relative;
								}
							}
						}
					}
				}
			}
		}
	}

	.wp-block-navigation__responsive-container-close {

		svg {
			width: 2rem;
			height: 2rem;
			stroke: $color__orange;
			fill: $color__orange;
		}
	}

	.wp-block-navigation__responsive-container.is-menu-open.has-modal-open {
		background-color: $color__turquoise;
		color: $color__white;

		/* top: 95px; */

		.wp-block-navigation__container {

			padding-top: calc(3rem + 24px);

			> .wp-block-navigation-item {

				&:not(.is-icon) {
					text-transform: uppercase;
				}

				&.is-icon {
					margin: 0;

					&.menu-langue {
						padding-top: 2px;
						position: absolute;
						top: 0;
						left: 1rem;
						z-index: 2;
					}

					&.menu-contact {
						padding-top: 2px;
						position: absolute;
						top: 0;
						right: 6rem;
						z-index: 2;
					}
				}

				> a {
					font-weight: 700;
				}

				> ul.wp-block-navigation__submenu-container {
					padding-top: 0.25rem;
					padding-left: 0.25rem;

					.wp-block-navigation-item {

						a {

							span {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}
}

.wp-block-site-logo img {

	@media screen and (max-width: $breakpoint_mobile) {
		height: 2rem;
		width: auto;
	}
}

