nav.pagination {

	.nav-links {
		margin: 0 auto;
		width: fit-content;

		* {
			color: $color__bleu;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
				text-underline-offset: 2px;
			}
		}

		.current,
		.dots {
			pointer-events: none;
			opacity: 0.5;
		}

		.next {
			margin-left: 1.5rem;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				background-image: url(/wp-content/themes/inno3/assets/img/arrow-left.svg);
				width: 36px;
				height: 14px;
				background-repeat: no-repeat;
				background-size: contain;
				top: 50%;
				transform: translate(20%, -50%) rotate(0.5turn);
			}
		}

		.prev {
			margin-right: 1.5rem;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				background-image: url(/wp-content/themes/inno3/assets/img/arrow-left.svg);
				width: 36px;
				height: 14px;
				background-repeat: no-repeat;
				background-size: contain;
				top: 50%;
				left: 0;
				transform: translate(-120%, -50%);
			}
		}

		.page-numbers:not(.prev):not(.next) {
			font-size: 0.9rem;
		}
	}
}
