ol#breadcrumbs {
	display: flex;
	column-gap: 1.5rem;
	margin: 0;
	padding: 0.5rem 1rem;
	background-color: $color__white;
	width: fit-content;
	flex-wrap: wrap;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.15rem;

	li {
		list-style-type: none;
		color: $color__turquoise;
		position: relative;

		&:not(:last-of-type)::after {
			content: ">";
			position: absolute;
			display: block;
			color: $color__turquoise;
			top: 0;
			right: -1rem;
		}

		/* 		&:last-of-type:not(:first-of-type) {

			a {
				color: $color__bleu;
				text-decoration: none;
			}
		} */

		a {
			text-decoration: none;

			/* text-decoration: underline;
			text-underline-offset: 2px; */

			/* text-transform: uppercase; */
			color: $color__turquoise;
		}
	}
}
