button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-block-button__link {
	transition: all 0.15s ease-in;
}

.is-style-bg-b a,
.is-style-bg-b .wp-block-button__link {
	border: 2px solid $color__turquoise;
	background: $color__turquoise;
	color: $color__white;
	padding: 0.75rem 1.25rem;
	border-radius: 0;
	font-size: 1.25rem;

	&:hover {
		background: $color__white;
		color: $color__turquoise;
	}
}

.is-style-ol-b a,
.is-style-ol-b .wp-block-button__link {
	border: 2px solid $color__turquoise;
	background: $color__white;
	color: $color__turquoise;
	padding: 0.75rem 1.25rem;
	border-radius: 0;
	font-size: 1.25rem;

	&:hover {
		background: $color__turquoise;
		color: $color__white;
	}
}

.is-style-ol-o a,
.is-style-ol-o .wp-block-button__link {
	border: 2px solid $color__orange;
	background: $color__white;
	color: $color__orange;
	padding: 0.75rem 1.25rem;
	border-radius: 0;
	font-size: 1.25rem;

	&:hover {
		background: $color__orange;
		color: $color__white;
	}
}

.wp-block-button__link[target="_blank"] {
	position: relative;
	padding: 0.75rem 50px 0.75rem 1.25rem !important;

	&::after {
		content: "";
		width: 40px;
		aspect-ratio: 2.5/1;
		background-repeat: no-repeat;
		height: auto;
		background-image: url(/wp-content/themes/inno3/assets/img/arrow-right.svg);
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
	}
}
