.postContainer,
.offer-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	position: relative;
	margin-top: 2rem;

	@media screen and (max-width: 1232px) {

		/* 		padding-left: 1rem;
		padding-right: 1rem;
 */
		@media screen and (max-width: 1024px) {
			grid-template-columns: 1fr 1fr;

			@media screen and (max-width: $breakpoint_mobile) {
				grid-template-columns: 1fr;
			}
		}
	}
}


body:not(.home) .postContainer {

	@media screen and (max-width: $breakpoint_mobile) {
		grid-template-columns: 1fr;
	}

	@media screen and (min-width: $breakpoint_mobile) {

		&::after {
			content: url(/wp-content/themes/inno3/assets/img/visual-wide.svg);
			width: fit-content;
			position: absolute;
			top: -1rem;
			right: -35%;
			z-index: -1;
			bottom: -2rem;
			opacity: 0.5;
			overflow: hidden;
		}

		&::before {
			content: url(/wp-content/themes/inno3/assets/img/visual-wide.svg);
			width: fit-content;
			position: absolute;
			top: 540px;
			left: -35%;
			z-index: -1;
			bottom: -2rem;
			opacity: 0.5;
			overflow: hidden;
		}
	}

}

.postContainerAbout {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;

	@media screen and (max-width: $breakpoint_mobile) {
		grid-template-columns: 1fr;

		> * {

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				display: none;
			}
		}
	}

}

@media screen and (max-width: $breakpoint_mobile) {

	.real-listing-home,
	.blog-listing-home {

		> * {

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				display: none;
			}
		}
	}
	.real-listing-home > *{
		margin: 0 1em;// c'est idiot mais c'est la maquette
	}
}


// Réalisations

a.link-card-real {
	color: inherit;
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
		filter: brightness(0.8);
	}

	.type-realisations {
		max-width: 300px;
		border: solid 2px;
		border-color: #23aaaa;
		color: #23aaaa;
		height: 100%;
		position: relative;
		background-color: #fff;

		@media screen and (max-width: 1024px) {
			max-width: none;
		}

		.content {
			margin-bottom: 2rem;
		}

		h3 {
			color: #23aaaa;
			max-width: 90%;
			margin: 0.5rem auto;
			font-size:1.3rem;
		}

		time {
			max-width: 90%;
			margin: 0 auto 0.5rem auto;
			display: block;
		}

		.post-thumbnail {
			width: 100%;
			height: 180px;
			max-height: 180px;
			position: relative;
			overflow: hidden;

			@supports (aspect-ratio: 16 / 9) {
				height: auto !important;
				max-height: none !important;
				aspect-ratio: 16 / 9 !important;
			}

			svg {
				filter: saturate(2);
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.3;
				fill: #23aaaa;
			}

			img {
				filter: brightness(1.25) grayscale(1);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				max-width: none;
				max-height: none;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		.real-term {
			background-color: #23aaaa;
			color: $color__white;
			position: absolute;
			bottom: 0;
			width: 100%;

			p {
				margin: 0;
				text-align: right;
				display: block;
				padding-right: 4px;
				padding-top: 3px;
				text-transform: uppercase;
				font-size: 14px;
			}
		}

		&.real-type-publication {
			border-color: #487bbd;
			color: #487bbd;

			svg {
				fill: #487bbd;
			}

			h3 {
				color: #487bbd;
			}

			.real-term {
				background-color: #487bbd;
				color: $color__white;
			}
		}

		&.real-type-file {
			border-color: #0e3699;
			color: #0e3699;

			svg {
				fill: #0e3699;
			}

			h3 {
				color: #0e3699;
			}

			.real-term {
				background-color: #0e3699;
				color: $color__white;
			}
		}

		&.real-type-tool {
			border-color: #2f6476;
			color: #2f6476;

			svg {
				fill: #2f6476;
			}

			h3 {
				color: #2f6476;
			}

			.real-term {
				background-color: #2f6476;
				color: $color__white;
			}
		}
	}
}

// Blog

a.link-card-blog {
	color: inherit;
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
		filter: brightness(0.8);
	}

	.type-news {
		max-width: 300px;
		border: solid 2px;
		border-color: #bd316b;
		color: #bd316b;
		height: 100%;
		position: relative;
		margin-bottom: 0;
		background-color: #fff;

		@media screen and (max-width: 1024px) {
			max-width: none;
		}

		h3 {
			color: #bd316b;
			max-width: 90%;
			font-size: 1rem;
			margin: 0.5rem auto;
		}

		.post-thumbnail {
			width: 100%;
			height: 180px;
			max-height: 180px;
			position: relative;
			overflow: hidden;

			@supports (aspect-ratio: 16 / 9) {
				height: auto !important;
				max-height: none !important;
				aspect-ratio: 16 / 9 !important;
			}

			svg {
				filter: saturate(2);
				position: absolute;
				top: 0;
				opacity: 0.3;
				fill: #bd316b;
			}

			img {
				filter: brightness(1.25) grayscale(1);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				max-width: none;
				max-height: none;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		.blog-term {
			background-color: #bd316b;
			color: $color__white;
			width: 100%;

			&.blog-event,
			&.blog-article {
				display: flex;
				justify-content: space-between;
			}

			p {
				margin: 0;
				text-align: right;
				display: block;
				padding-right: 4px;
				padding-top: 3px;
				padding-bottom: 3px;
				text-transform: uppercase;
				font-size: 14px;
			}

			time {
				padding-left: 4px;
				padding-top: 3px;
				font-size: 14px;
				display: block;
			}

		}

		&.blog-type-jobs {
			border-color: #943560;
			color: #943560;

			svg {
				fill: #943560;
			}

			h3 {
				color: #943560;
			}

			.blog-term {
				background-color: #943560;
				color: $color__white;
			}
		}

		&.blog-type-event {
			border-color: #e65244;
			color: #e65244;

			svg {
				fill: #e65244;
			}

			h3 {
				color: #e65244;
			}

			.blog-term {
				background-color: #e65244;
				color: $color__white;
			}
		}

		&.blog-type-article {
			border-color: #ee7104;
			color: #ee7104;

			svg {
				fill: #ee7104;
			}

			h3 {
				color: #ee7104;
			}

			.blog-term {
				background-color: #ee7104;
				color: $color__white;
			}
		}

	}
}


a.link-card-user {
	color: inherit;
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
		filter: brightness(0.8);
	}

	.user-content {
		max-width: 300px;
		border: solid 2px;
		border-color: $color__turquoise;
		color: $color__turquoise;
		height: 100%;
		position: relative;
		margin-bottom: 0;
		background-color: #fff;

		@media screen and (max-width: 1024px) {
			max-width: none;
		}

		h3 {
			color: $color__turquoise;
			margin: 0.5rem 0;
		}

		.user-thumbnail {
			width: 50%;
			height: auto;
			aspect-ratio: auto 1;
			position: relative;
			overflow: hidden;
			border-radius: 50%;
			border: 3px solid $color__turquoise;
			margin-top: -0.5rem;
			margin-left: 0.5rem;

			svg {
				filter: saturate(2);
				position: absolute;
				top: 0;
				opacity: 0.3;
				fill: $color__turquoise;
				height: 100%;
			}

			img {
				filter: brightness(1.25) grayscale(1);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				max-width: none;
				max-height: none;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		.content {
			max-width: 90%;
			margin: 0.5rem auto;
		}

		.team-term {
			background-color: $color__turquoise;
			color: $color__white;
			width: 100%;

			p {
				margin: 0;
				text-align: right;
				display: block;
				padding-right: 4px;
				padding-top: 3px;
				padding-bottom: 3px;
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}
}


a.project-card-link {
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
		filter: brightness(0.8);
	}

	.type-projets {
		max-width: 300px;
		border: solid 2px;
		border-color: $color__turquoise;
		color: $color__turquoise;
		height: 100%;
		position: relative;
		margin-bottom: 0;
		background-color: #fff;

		@media screen and (max-width: 1024px) {
			max-width: none;
		}

		h3 {
			margin: 0.5rem auto;
			max-width: 90%;
			color: $color__turquoise;
		}

		.project-term {

			p {
				margin: 0;
				flex: auto;
				order: -1;
				background-color: $color__turquoise;
				color: $color__white;
				display: block;
				padding-left: 4px;
				padding-top: 3px;
				padding-bottom: 3px;
				text-transform: uppercase;
				font-size: 14px;
				align-self: flex-start;
				text-decoration: none;
			}

			.post-thumbnail {
				width: 100%;
				height: auto;
				aspect-ratio: 16 / 9;
				position: relative;
				overflow: hidden;

				svg {
					filter: saturate(2);
					position: absolute;
					top: 0;
					opacity: 0.3;
					fill: $color__turquoise;
					height: 100%;
				}

				img {
					filter: brightness(1.25) grayscale(1);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: 0;
					padding: 0;
					width: 100%;
					height: 100%;
					max-width: none;
					max-height: none;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}
}

a.orga-card-link {
	text-decoration: none;
	opacity: 0;
	transition: 0.2s all linear;

	display: none;

	&.active {
		display: block;
		opacity: 0;
		transition: 0.2s all linear;
	}

	&.active.animate {
		opacity: 1;
	}

	&:hover {
		filter: brightness(0.8);
	}

	.type-organisations {
		max-width: 300px;
		width: 100%;
		border: solid 2px;
		border-color: $color__turquoise;
		color: $color__turquoise;
		height: 100%;
		position: relative;
		margin-bottom: 0;
		background-color: #fff;

		@media screen and (max-width: 1024px) {
			max-width: none;
		}

		.content {
			margin: 0.5rem auto;
			max-width: 90%;
			color: $color__turquoise;

			h3 {
				color: $color__turquoise;
				margin: 0;
			}

			p {
				margin: 0.75rem 0;
			}
		}

		.post-thumbnail {
			width: 100%;
			height: auto;
			aspect-ratio: 16 / 9;
			position: relative;
			overflow: hidden;

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				max-width: none;
				max-height: none;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}

		p.orga-term {
			margin: 0;
			flex: auto;
			order: -1;
			background-color: $color__turquoise;
			color: $color__white;
			display: block;
			padding-left: 4px;
			padding-top: 3px;
			padding-bottom: 3px;
			text-transform: uppercase;
			font-size: 14px;
			align-self: flex-start;
			text-decoration: none;
		}
	}
}
