.is-style-small-bottom-title {
	min-height: unset;
	padding-bottom: 0;

	> .wp-block-cover__inner-container {
		width: 100% !important;
		margin-top: 4rem !important;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1;

		h1 {
			position: relative;
			display: inline;
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;
			-moz-background-inline-policy: clone;
			padding: 0.75rem 0.5rem;
			background: white;
			line-height: 1.5;
		}
	}
}

@media screen and (max-width: $breakpoint_mobile) {

	.hero-home {
		min-height: unset;
	}
}
