input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

input[name="cpt"] {
	display: none;
}

input[name="cpt"]:checked + label {
	background-color: $color__turquoise;
	color: $color__white;
}

select[name="var_global_tags"],
select {
	font-size: 0.75rem;
	color: $color__turquoise;
	padding: 0.5rem 0.75rem;
	border: 2px solid $color__turquoise;
	background-color: $color__white;
	text-decoration: none;
	margin: 0 0.25rem;
	display: inline-block;
	border-radius: 0;
	width: 8rem;
	@media screen and (max-width: $breakpoint_mobile) {
		margin: 0.25rem 0 0.25rem;
	}
}


input[type="submit"].submiter {
	border: 2px solid;
	background: $color__turquoise;
	color: $color__white;
	padding: 0.75rem 1.25rem;
	border-radius: 0;
	font-size: 1.25rem;
	cursor: pointer;

	@media screen and (min-width: $breakpoint_mobile) {
		margin: 0 1rem;
	}
}

.form-group {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;

	input[type="search"] {
		border: 2px solid $color__turquoise;
		border-radius: 0;
		width: 100%;
		padding: 0.75rem 1rem;
	}

	input[type="submit"] {

		&:hover {
			background-color: $color__turquoise;
			color: $color__white;
		}
		color: $color__turquoise;
		background-color: $color__white;
		border: 2px solid $color__turquoise;
		border-radius: 0;
		border-left: none;
		padding: 0.75rem;
		font-size: 1.25rem;
		font-family: Icons;

		&:hover {
			cursor: pointer;
		}
	}
}

.search-filters,
.container-1,
.container-2 {

	display: flex;
	align-items: center;
	flex-shrink: 0;

	@media screen and (max-width: $breakpoint_mobile) {
		display: block;
		margin-bottom: 1rem;
	}

}
.search-filters{
	.inputs{
		margin-left: .25rem;
		margin-right: .25rem;
	}
	@media screen and (max-width: 950px) {
		display: block;
		margin-bottom: 1rem;

		.sub-container{
			text-align: left;
			.submiter{
				margin:0;
			}
		}
		.container-2{
			margin-top:1rem;
		}
	}
}