footer {

	div {

		position: relative;
	}

	> div {
		padding: 0;
	}
}

.up-arrow {

	a {
		text-decoration: none;
	}

	@media screen and (max-width: $breakpoint_mobile) {
		position: absolute;
		top: 1rem;
		right: 1rem;

	}
}
