#timeline-columns {

	@media screen and (max-width: $breakpoint_mobile) {
		gap: 3.5rem;

		.wp-block-column:first-of-type {
			padding-right: 0 !important;
		}
	}
}

.timeline {
	border-left: 2px solid $color__turquoise;
	margin-left: 2rem;

	> .wp-block-group {
		position: relative;

		&::before {
			content: "";
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 2rem;
			border: 2px solid $color__turquoise;
			background-color: $color__white;
			position: absolute;
			box-sizing: border-box;
			left: -3rem;
			top: -0.75rem;
		}

		h3:first-of-type {
			position: absolute;
			padding: 0.5rem 0.75rem 0.5rem 0.25rem;
			background-color: $color__white;
			left: -0.25rem;
			transform: translateY(-50%);
			top: 0;
		}

		h3 {
			margin: 0;
		}
	}

	@media screen and (max-width: $breakpoint_mobile) {
		margin-left: 1rem;
	}
}


/* @media screen and (min-width: $breakpoint_mobile) {
 */
.wp-block-group[class*="is-style-"] {

	&::after {
		overflow: hidden;
		opacity: 0.5;
	}
}

.is-style-bg-contact {
	position: relative;

	&::after {
		content: url(/wp-content/themes/inno3/assets/img/visual-wide.svg);
		width: fit-content;
		//height: fit-content;
		position: absolute;
		top: -5%;
		right: 25%;
		z-index: -1;
	}
}

.is-style-bg-big-right {
	position: relative;

	&::after {
		content: url(/wp-content/themes/inno3/assets/img/visual-wide.svg);
		width: fit-content;
		//height: fit-content;
		position: absolute;
		top: 12%;
		right: -35%;
		z-index: -1;
		bottom: -2rem;
	}
}

.is-style-bg-big-left {
	position: relative;

	&::after {
		content: url(/wp-content/themes/inno3/assets/img/visual-wide.svg);
		width: fit-content;
		//height: fit-content;
		position: absolute;
		top: 12%;
		left: -35%;
		z-index: -1;
		bottom: -2rem;
	}
}

.is-style-bg-small-right {
	position: relative;

	&::after {
		content: url(/wp-content/themes/inno3/assets/img/visual-slim.svg);
		width: fit-content;
		height: fit-content;
		position: absolute;
		top: 5%;
		right: -70%;
		z-index: -1;
	}
}

.is-style-bg-small-left {

	h2 {
		position: relative;
		margin-bottom: 2.5rem;

		&::after {
			content: url(/wp-content/themes/inno3/assets/img/visual-slim.svg);
			width: fit-content;
			height: fit-content;
			position: absolute;
			top: 40%;
			right: -20%;
			z-index: -1;
			opacity: 0.5;
		}

		+ * {
			margin-top: 3.5rem;
		}
	}
}


.is-style-bg-small-left {

	h2 {
		position: relative;
		margin-bottom: 2.5rem;

		&::after {
			content: url(/wp-content/themes/inno3/assets/img/visual-slim.svg);
			width: fit-content;
			height: fit-content;
			position: absolute;
			top: 40%;
			right: -20%;
			z-index: -1;
			opacity: 0.5;
		}

		+ * {
			margin-top: 3.5rem;
		}
	}
}

@media screen and (min-width: $breakpoint_mobile) {

	.custom-btn-desktop {

		.wp-block-buttons {
			margin-top: 0.5rem;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
