
//Carte home avec cube
.home-card {

	h3 {
		margin-left: 7rem;
	}
	position: relative;

	&::before {
		background-color: #fff;
		content: "";
		background-image: url(/wp-content/themes/inno3/assets/img/Picto_services_vierge.png);
		background-repeat: no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;
		position: absolute;
		top: -10%;
		background-position: 50%;
	}

	@media screen and (max-width: $breakpoint_mobile) {
		margin-block-end: 1rem !important;

		h3 {
			margin-left: 5.75rem;
		}

		&::before {
			width: 90px;
			height: 90px;
		}
	}
}
