a {
	color: inherit;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.filters {
	font-weight: 400;

	@media screen and (min-width: $breakpoint_mobile) {
		display: flex;
		align-items: center;
	}

	input[type="radio"] {
		display: none;
	}

	input[type="radio"]:checked + label {
		border-color: $color__turquoise;
		background-color: $color__turquoise;
		color: $color__white;
	}

	.sub-container {
		width: 100%;
		margin-top: 1rem;
		text-align: right;

		input {
			width: fit-content;
		}
	}

	#searchbar {

		font-weight: 400;

		.search-indication {
			align-self: center;
			margin: 0 1rem;
		}

		@media screen and (max-width: $breakpoint_mobile) {
			flex-direction: column;
			text-align: left;

			.search-indication {
				align-self: flex-start;
				margin: 0.5rem 0;
			}
		}

		> div {
			display: flex;
		}
	}

	a,
	button,
	.button-search {
		font-weight: 400;
		font-size: 0.75rem;
		color: $color__turquoise;
		padding: 0.5rem 0.75rem;
		border: 2px solid $color__turquoise;
		background-color: $color__white;
		text-decoration: none;
		margin: 0.25rem 0;
		display: inline-block;
		border-radius: 0;

		&:hover {
			border-color: $color__turquoise;
			background-color: $color__turquoise;
			color: $color__white;
			cursor: pointer;
		}

		&.active,
		&.active-button {
			border-color: $color__turquoise;
			background-color: $color__turquoise;
			color: $color__white;
		}
	}
}

.post-tags-filters,
#form_tag {

	.txt-filter{
		white-space: nowrap;
	}
	@media screen and (max-width: $breakpoint_mobile) {
		font-weight: 400;

		*:not(b) {
			font-weight: 400;
		}
		margin-top: 1rem;

		.sub-container {
			flex-shrink: 1;
			width: 100%;
			margin-top: 1rem;
			text-align: right;

			input {
				width: fit-content;
			}
		}
	}

	@media screen and (min-width: $breakpoint_mobile) {
		gap: 0.5rem;
		margin: 0 0.5rem;
		display: flex;
		align-items: center;
	}
}
