ul,
ol {
	margin: 0 0 1.5em 0;

	> li {
		margin: 0.5rem 0;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.contributor,
.organisation {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	border: 2px solid $color__turquoise;
	color: $color__turquoise;
	text-decoration: none;
	height: 62px;

	p {
		color: $color__turquoise;
		font-size: 1.25rem;
		//font-weight: 700;
		margin: 0;
	}

	img {
		width: 50px;
		border-radius: 50%;
		margin-right: 1rem;
	}
}
