.auth-skill {
	display: flex;
	gap: 0.75rem;

	p {
		background-color: $color__turquoise;
		padding: 0.25rem 0.5rem;
		margin: 1rem 0;
		color: $color__white;
	}
}

.auth-pic {
	background-color: $color__white;

	svg {
		filter: saturate(2);
		position: absolute;
		top: 0;
		opacity: 0.3;
		fill: $color__turquoise;
		height: 100%;
	}
}

.author {

	.negative-margin {

		@media screen and (min-width: $breakpoint_mobile) {
			margin-top: -5rem;
		}
	}
}

.author .wp-block-columns {

	ul {
		padding-left: 2rem;

		li {
			list-style-type: "◆";
			padding-left: 4px;
		}
	}

	h3 {
		margin: 0;
	}

	.socials {
		display: flex;
		//justify-content: center;
		gap: 1.5rem;

		a {
			display: block;

			img {
				width: auto;
				height: 40px;
			}
		}
	}

	&.single-header {
		position: relative;
		padding-top: 2rem;
		gap: 1.5rem;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%);
			bottom: 7.5rem;
			width: 100vw;
			background: url(/wp-content/themes/inno3/assets/img/hero-header.svg);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
		}

		h1 {
			position: relative;
			display: inline;
			box-decoration-break: clone;
			-webkit-box-decoration-break: clone;
			-moz-background-inline-policy: clone;

			padding: 0.75rem 1.5rem;
			background: white;
		}

		figure {
			width: 100%;
			height: auto;
			max-width:20rem;
			aspect-ratio: 1;
			position: relative;
			overflow: hidden;
			border-radius: 50%;
			border: 3px solid $color__turquoise;

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				max-width: none;
				max-height: none;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}
	}
}

.single-news,
.single-projets,
.single-realisations,
.single-organisations {

	main {

		> .wp-block-columns:not(.single-header) {


			.wp-block-column:last-child {


				.wp-block-group {

					> * + * {
						margin-block-start: 0.5rem !important;
					}

					> *:not(h3):not(ul) {
						margin-left: 50px;
					}
				}
			}
		}
	}
}

.single-news,
.single-projets,
.single-realisations,
.single-organisations {

	.entry-content {

		.wp-block-columns:not(.single-header){

		}

		.single-header {

			position: relative;
			padding-top: 2rem;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%);
				bottom: 2rem;
				width: 100vw;
				background: url(/wp-content/themes/inno3/assets/img/hero-header.svg);
				background-repeat: no-repeat;
				background-size: cover;
				z-index: -1;
			}

			h1 {
				position: relative;
				display: inline;
				// box-decoration-break: clone;
				// -webkit-box-decoration-break: clone;
				// -moz-background-inline-policy: clone;
				// background: white;
				background-image: linear-gradient(to bottom, transparent, transparent 10%, white 10%, white);
				padding: 0.75rem 0;
			}

			> .wp-block-column:first-of-type {
				display: flex;
				align-items: flex-end;

				@media screen and (min-width: $breakpoint_mobile) {
					flex-basis: 30% !important;
				}

				figure {
					width: 100%;
					height: fit-content;
					aspect-ratio: 1 / 1.25;
					position: relative;
					overflow: hidden;
					background-color: $color__white;

					img {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: 0;
						padding: 0;
						width: 100%;
						height: 100%;
						max-width: none;
						max-height: none;
						-o-object-fit: contain;
						object-fit: contain;
					}
				}
			}
		}
	}
}

.real-absolute-btn {

	@media screen and (max-width: $breakpoint_mobile) {
		margin-top: -3.5rem !important;
	}
	margin-top: -5.5rem !important;
	margin-block-end: 0 !important;
}

.cpt-list {

	> a {
		margin-bottom: 1rem 0;
	}
}

.single-projets,
.single-organisations {

	.entry-content {

		.single-header {

			figure {

				img {
					-o-object-fit: contain !important;
					object-fit: contain !important;
				}
			}
		}
	}
}

.single-realisations {

	.real-term {
		position: absolute;
		bottom: 0;
		padding: 4px 8px;
		width: 100%;
		background-color: #23aaaa;

		p {
			text-align: right;
			margin: 0;
			text-transform: uppercase;
			font-size: 1.25rem;
			color: $color__white;
		}
	}

	h1 {
		color: #23aaaa;
	}

	.wp-block-post-date {
		color: #23aaaa;
	}

	.real-tags {
		display: flex;
		gap: 0.75rem;
		flex-wrap: wrap;
		margin: 1rem 0;

		p {
			background-color: #23aaaa;
			padding: 0.25rem 0.5rem;
			margin: 0;
			color: $color__white;
		}
		a{
			text-decoration: none;
		}
	}

	.single-header.tool {

		h1 {
			color: #2f6476;
		}

		.wp-block-post-date {
			color: #2f6476;
		}

		.real-tags {

			p {
				color: $color__white;
				background-color: #2f6476;
			}
		}

		.real-term {
			background-color: #2f6476;
		}

		ol#breadcrumbs li a {
			color: #2f6476;
		}
	}

	.single-header.file {

		h1 {
			color: #0e3699;
		}

		.wp-block-post-date {
			color: #0e3699;
		}

		.real-tags {

			p {
				color: $color__white;
				background-color: #0e3699;
			}
		}

		.real-term {
			background-color: #0e3699;
		}

		ol#breadcrumbs li a {
			color: #0e3699;
		}
	}

	.single-header.publication {

		h1 {
			color: #487bbd;
		}

		.wp-block-post-date {
			color: #487bbd;
		}

		.real-tags {

			p {
				color: $color__white;
				background-color: #487bbd;
			}
		}

		.real-term {
			background-color: #487bbd;
		}

		ol#breadcrumbs li a {
			color: #487bbd;
		}
	}

	.wp-block-post-date {
		margin: 0;
		width: fit-content;
		padding: 0.5rem 1rem;
	}
}

