<!-- wp:template-part {"slug":"header","theme":"inno3","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"inherit":false}} -->
<main class="wp-block-group alignfull site-main"><!-- wp:heading {"textAlign":"center","level":1} -->
	<h1 class="has-text-align-center">Cette page semble introuvable !</h1>
	<!-- /wp:heading --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"inno3","tagName":"footer","align":"full","className":"site-footer"} /-->