<!-- wp:template-part {"slug":"header","theme":"inno3","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:cover {"url":"http://inno3.local/wp-content/uploads/2022/06/Image_ENTETE-V3.svg","id":181,"dimRatio":0,"isDark":false,"className":"is-style-small-bottom-title"} -->
<div class="wp-block-cover is-light is-style-small-bottom-title"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-181" alt="" src="http://inno3.local/wp-content/uploads/2022/06/Image_ENTETE-V3.svg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:acf/breadcrumb {"id":"block_62b31fa5977e8","name":"acf/breadcrumb","align":"","mode":"preview"} /-->

    <!-- wp:heading {"level":1,"textColor":"primary_turquoise"} -->
    <h1 class="has-primary-turquoise-color has-text-color">Projets</h1>
    <!-- /wp:heading --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:acf/bloc-listing-projets {"id":"block_62b31ce5977e7","name":"acf/bloc-listing-projets","align":"","mode":"preview"} /-->
    
    <!-- wp:template-part {"slug":"footer","theme":"inno3","tagName":"footer","align":"full","className":"site-footer"} /-->