<!-- wp:template-part {"slug":"header","theme":"inno3","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:cover {"url":"http://inno3.local/wp-content/uploads/2022/06/Image_ENTETE-V3.svg","id":181,"dimRatio":0,"minHeight":173,"minHeightUnit":"px","contentPosition":"bottom center","isDark":false,"className":"is-style-small-bottom-title"} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-center is-style-small-bottom-title" style="min-height:173px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-181" alt="" src="http://inno3.local/wp-content/uploads/2022/06/Image_ENTETE-V3.svg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:acf/breadcrumb {"id":"block_62b1c3f962641","name":"acf/breadcrumb","align":"","mode":"preview"} /-->

    <!-- wp:heading {"level":1,"textColor":"primary_turquoise","className":"alignwide"} -->
    <h1 class="alignwide has-primary-turquoise-color has-text-color">Nos réalisations</h1>
    <!-- /wp:heading --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:paragraph -->
    <p>Vous trouverez ici toutes les réalisations produites dans le cadre de nos différentes activités.<br><br>Conformément à l'esprit de Contribution et de partage qui est le nôtre, touts ces ressources sont elles-même diffusées au plus grand nombre sous license libre et ouverte. </p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}},"border":{"width":"2px","style":"solid"}},"borderColor":"primary_rust","textColor":"primary_rust"} -->
    <div class="wp-block-group has-border-color has-primary-rust-border-color has-primary-rust-color has-text-color" style="border-style:solid;border-width:2px;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:heading {"level":3,"textColor":"primary_rust"} -->
    <h3 class="has-primary-rust-color has-text-color">Notre boîte à outils libres</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Dans une volonté d'acculturation et d'encapacitation aux modèles ouverts, nous produisons et maintenons aussi dans une démarche communautaire certains 'outils' aux finalités bien définies.<br>N'hésitez pas à les consulter pour un usage 'clef en main' ou pour proposer toute amélioration</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"className":"is-style-ol-o"} -->
    <div class="wp-block-button is-style-ol-o"><a class="wp-block-button__link">Boîte à outils</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:acf/bloc-listing-realisations {"id":"block_62a1fade29aba","name":"acf/bloc-listing-realisations","align":"wide","mode":"preview"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-navigation-link /-->
    
    <!-- wp:post-navigation-link {"type":"previous"} /-->
    
    <!-- wp:group {"className":"is-style-default","layout":{"inherit":true}} -->
    <div class="wp-block-group is-style-default"><!-- wp:group {"align":"wide","className":"is-style-bg-small-left","layout":{"inherit":true}} -->
    <div class="wp-block-group alignwide is-style-bg-small-left"><!-- wp:heading {"align":"wide"} -->
    <h2 class="alignwide">En savoir plus sur nos<br>réalisations</h2>
    <!-- /wp:heading -->
    
    <!-- wp:columns {"align":"full","style":{"spacing":{"blockGap":"2rem"}}} -->
    <div class="wp-block-columns alignfull"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"border":{"width":"2px","style":"solid"},"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}}} -->
    <div class="wp-block-group" style="border-style:solid;border-width:2px;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:heading {"level":3} -->
    <h3>Notre boîte à outils libres</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Découvrez nos ressources mise à disposition en license ouverte et les outils libres que nous employons et valorisons</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>N'hésitez pas à témoigner d'une utilisation, signaler un besoin ou une anomalie, ou directement contribuer à l'enrichissement de ses supports dans une logique collaborative</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"style":{"border":{"radius":"0px"}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" style="border-radius:0px">Boîte à outils</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"top"} -->
    <div class="wp-block-column is-vertically-aligned-top"><!-- wp:group {"style":{"border":{"width":"2px","style":"solid"},"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}},"layout":{"inherit":true}} -->
    <div class="wp-block-group" style="border-style:solid;border-width:2px;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:heading {"level":3} -->
    <h3>Nos projets</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Découvrez nos ressources mise à disposition en license ouverte et les outils libres que nous employons et valorisons</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>N'hésitez pas à témoigner d'une utilisation, signaler un besoin ou une anomalie, ou directement contribuer à l'enrichissement de ses supports dans une logique collaborative</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"style":{"border":{"radius":"0px"}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" style="border-radius:0px">Projets</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"border":{"width":"2px","style":"solid"},"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}}} -->
    <div class="wp-block-group" style="border-style:solid;border-width:2px;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:heading {"level":3} -->
    <h3>Fiches thématiques</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Découvrez nos ressources mise à disposition en license ouverte et les outils libres que nous employons et valorisons</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>N'hésitez pas à témoigner d'une utilisation, signaler un besoin ou une anomalie, ou directement contribuer à l'enrichissement de ses supports dans une logique collaborative</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"style":{"border":{"radius":"0px"}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" style="border-radius:0px">Fiches</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"inno3","tagName":"footer","align":"full","className":"site-footer"} /-->