<!-- wp:template-part {"slug":"header","theme":"inno3","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:cover {"url":"http://inno3.local/wp-content/uploads/2022/06/Image_ENTETE-V3.svg","id":181,"dimRatio":0,"isDark":false,"className":"is-style-small-bottom-title"} -->
<div class="wp-block-cover is-light is-style-small-bottom-title"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-181" alt="" src="http://inno3.local/wp-content/uploads/2022/06/Image_ENTETE-V3.svg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:acf/breadcrumb {"id":"block_62b1c42062642","name":"acf/breadcrumb","align":"","mode":"preview"} /-->

    <!-- wp:heading {"level":1,"textColor":"primary_turquoise"} -->
    <h1 class="has-primary-turquoise-color has-text-color">Actualités</h1>
    <!-- /wp:heading --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:paragraph -->
    <p>People let me tell you 'bout my best friend, he's a warm-hearted person who'll love me till the end. People let me tell you 'bout my best friend, he's a one boy cuddly toy, my up, my down, my pride and joy. People let me tell you 'bout him he's so much fun whether we're talkin' man to man or whether we're talking son to son. Cause he's my best friend. Yes he's my best friend.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Come and knock on our door. We've been waiting for you. Where the kisses are hers and hers and his, three's company, too! Come and dance on our floor. Take a step that is new. We've a lovable space that needs your face, three's company, too! You'll see that life is a ball again and laughter is callin' for you. Down at our rendezvous, three's company, too!</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:acf/bloc-random-post {"id":"block_62a9ebd54f45f","name":"acf/bloc-random-post","align":"","mode":"preview"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:acf/bloc-listing-blog {"id":"block_6295db27a3df0","name":"acf/bloc-listing-blog","align":"wide","mode":"preview"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"className":"is-style-default","layout":{"inherit":true}} -->
    <div class="wp-block-group is-style-default"><!-- wp:group {"align":"wide","className":"is-style-bg-small-left","layout":{"inherit":true}} -->
    <div class="wp-block-group alignwide is-style-bg-small-left"><!-- wp:heading {"align":"wide"} -->
    <h2 class="alignwide">Découvrez également</h2>
    <!-- /wp:heading -->
    
    <!-- wp:columns {"align":"full","style":{"spacing":{"blockGap":"2rem"}}} -->
    <div class="wp-block-columns alignfull"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"border":{"width":"2px","style":"solid"},"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}},"backgroundColor":"color__white"} -->
    <div class="wp-block-group has-color-white-background-color has-background" style="border-style:solid;border-width:2px;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:heading {"level":3} -->
    <h3>Notre boîte à outils libres</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Découvrez nos ressources mise à disposition en license ouverte et les outils libres que nous employons et valorisons</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>N'hésitez pas à témoigner d'une utilisation, signaler un besoin ou une anomalie, ou directement contribuer à l'enrichissement de ses supports dans une logique collaborative</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"style":{"border":{"radius":"0px"}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" style="border-radius:0px">Boîte à outils</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"verticalAlignment":"top"} -->
    <div class="wp-block-column is-vertically-aligned-top"><!-- wp:group {"style":{"border":{"width":"2px","style":"solid"},"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}},"backgroundColor":"color__white","layout":{"inherit":true}} -->
    <div class="wp-block-group has-color-white-background-color has-background" style="border-style:solid;border-width:2px;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:heading {"level":3} -->
    <h3>Nos projets</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Découvrez nos ressources mise à disposition en license ouverte et les outils libres que nous employons et valorisons</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>N'hésitez pas à témoigner d'une utilisation, signaler un besoin ou une anomalie, ou directement contribuer à l'enrichissement de ses supports dans une logique collaborative</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"style":{"border":{"radius":"0px"}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" style="border-radius:0px">Projets</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"border":{"width":"2px","style":"solid"},"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}},"backgroundColor":"color__white"} -->
    <div class="wp-block-group has-color-white-background-color has-background" style="border-style:solid;border-width:2px;padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:heading {"level":3} -->
    <h3>Fiches thématiques</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>Découvrez nos ressources mise à disposition en license ouverte et les outils libres que nous employons et valorisons</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>N'hésitez pas à témoigner d'une utilisation, signaler un besoin ou une anomalie, ou directement contribuer à l'enrichissement de ses supports dans une logique collaborative</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons -->
    <div class="wp-block-buttons"><!-- wp:button {"style":{"border":{"radius":"0px"}},"className":"is-style-outline"} -->
    <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" style="border-radius:0px">Fiches</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"inno3","tagName":"footer","align":"full","className":"site-footer"} /-->