
.entry-content > *,
.entry-header > *,
aside > *,
.aligndefault {
	max-width: $aligndefault;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: $alignwide;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	max-width: $alignfull;
	margin-left: auto;
	margin-right: auto;
}

body .entry-content > *:not(:first-of-type),
.wp-site-blocks > *:not(header):not(footer):not(.entry-content):not(:first-of-type),
.single .entry-content main > *:not(:first-of-type) {
	margin-block-end: 5rem;

	@media screen and (max-width: $breakpoint_mobile) {
		margin-block-end: 2rem;
	}
}

body .entry-content > *:first-of-type,
.wp-site-blocks > *:not(header):not(footer):not(.entry-content):first-of-type,
.single .entry-content main > *:first-of-type {
	margin-block-end: 3rem;
}

body .entry-content > *,
.wp-site-blocks > *:not(header):not(footer):not(.entry-content),
.single .entry-content main > * {


	@media screen and (max-width: $alignwide) {
		padding-left: 2rem;
		padding-right: 2rem;

		@media screen and (max-width: $breakpoint_mobile) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

footer > * > * {

	@media screen and (max-width: $alignwide) {
		padding-left: 2rem;
		padding-right: 2rem;

		@media screen and (max-width: $breakpoint_mobile) {
			padding-left: 1rem;
			padding-right: 1rem;
			text-align: center;

			* {
				justify-content: center;
			}
		}
	}
}

.wp-site-blocks > * + *:first-of-type {
	margin-block-start: 0;
}

body {
	margin: 0 !important;
}

.contact-margin-p {

	p {
		margin-top: 0;
	}
}
