// stylelint-disable value-keyword-case
$font__main: Ubuntu;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.3;
$font__line-height-pre: 1.6;


@font-face {
	font-family: Ubuntu;
	src: url(/wp-content/themes/inno3/assets/font/Ubuntu-Regular.woff2) format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: Ubuntu;
	src: url(/wp-content/themes/inno3/assets/font/Ubuntu-Bold.woff2) format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: Icons;
	src: url(/wp-content/themes/inno3/assets/font/icomoon.woff) format("woff");
}
